@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body,
    #root {
        height: 100%;
    }

    :root {
        @apply font-['Pretendard'];
        @apply text-inverse-1;
        @apply bg-[var(--bg-color)];

        --bg-color: #ffffff;
        --inverse-color-1: #424242;
        --inverse-color-2: #525252;
        --inverse-color-3: #807b7b;

        --theme-color: #ea915d;
    }

    .dark {
        --bg-color: #060606;
        --inverse-color-1: #f5f6f7;
        --inverse-color-2: #dfe2e9;
        --inverse-color-3: #c1c3c9;
    }

    h1 {
        @apply text-[2.6rem];
        @apply sm:text-[4.7rem];
        @apply font-semibold;
        @apply sm:leading-[4.5rem];
        @apply sm:leading-[5.2rem];
        @apply mb-10;
    }

    h2 {
        @apply text-[2.3rem];
        @apply sm:text-[4rem];
        @apply font-semibold;
        @apply mt-[4rem];
        @apply mb-2;
    }

    h3 {
        @apply text-[1.5rem];
        @apply sm:text-[1.8rem];
        @apply font-semibold;
    }

    h4 {
        @apply text-[1.4rem];
        @apply sm:text-[1.7rem];
        @apply font-semibold;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply after:content-['.'];
        @apply after:text-theme-1;
    }

    ::selection {
        background-color: var(--theme-color);
        color: #ffffff;
    }

    a {
        @apply font-light;
        @apply text-inverse-3;
        @apply underline;
    }

    ul {
        @apply text-pretty;
    }

    ul li {
        @apply list-disc;
        @apply ml-5;
        @apply text-theme-1;
    }

    p {
        @apply text-inverse-1;
        @apply text-pretty;
    }
}
