@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body,
    #root {
        height: 100%;
    }

    :root {
        --bg-color: #ffffff;
        --inverse-color-1: #222222;

        --theme-color: #3a7bd5;
    }

    .dark {
        --bg-color: #060606;
        --inverse-color-1: #f5f6f7;
    }
}

@layer utilities {
    .bg-color {
        background-color: var(--bg-color);
    }
}
